/*
 * Conner Brinkley
 * COSC 465 -- Databases and Scripting Languages
 * The University of Tennessee, Knoxville
 *
 * Web Project Phase III
 *
 * */

body {
	background-color: #f7f7f7;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

ol li {
	line-height: 1.5em;
	color: #454545;
}

#container main {
	background-color: #ffffff;
	padding: 35px;
}

h2 {
	color: #454545;
	font-size: 45px;
	line-height: 0;
}

p {
	font-size: 16px;
	margin: 0 !important;

}

b, th, p {
	color: #454545;
}

p {
	line-height: 1.5em;
}

button:hover, #person-icon, #drop-icon {
	cursor: pointer;
}

hr {
	background-color: #dedede;
	height: 1px;
	border: 0;
	display: block;
}

input {
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	box-shadow: 0;
	border: 1px solid #d1d1d1;
}

#prof-info, #change-password-form {
	padding: 20px;
}

#prof-info > p {
	width: 350px;
	display: inline-block;
}

#info, #password {
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	margin-top: 30px;
}

#passwordError {
	margin-left: 20px;
}

#passwordError {
	color: #e63c3c;
}

#passwordSucceeded {
	color: #53cf40;
}

.boxHeader {
	padding: 15px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d1d1d1;
}

.save-btn {
	background-color: #3a8dd6; 
	color: #ffffff;
	border: 0;
	border-radius: 5px;
	padding: 12px;
	font-size: 16px;
}

